@font-face {
	font-family: "SuisseEDUIntl";
	src: url("./lib/fonts/SuisseEDUIntl/web small/WOFF/SuisseEDUIntl-Regular-WebS.woff") format("woff"),
	url("./lib/fonts/SuisseEDUIntl/web small/WOFF2/SuisseEDUIntl-Regular-WebS.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SuisseEDUIntl";
	src: url("./lib/fonts/SuisseEDUIntl/web small/WOFF/SuisseEDUIntl-Bold-WebS.woff") format("woff"),
	url("./lib/fonts/SuisseEDUIntl/web small/WOFF2/SuisseEDUIntl-Bold-WebS.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "SuisseEDUIntl";
	src: url("./lib/fonts/SuisseEDUIntl/web small/WOFF/SuisseEDUIntl-RegularItalic-WebS.woff") format("woff"),
	url("./lib/fonts/SuisseEDUIntl/web small/WOFF2/SuisseEDUIntl-RegularItalic-WebS.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "SuisseEDUIntl";
	src: url("./lib/fonts/SuisseEDUIntl/web small/WOFF/SuisseEDUIntl-BoldItalic-WebS.woff") format("woff"),
	url("./lib/fonts/SuisseEDUIntl/web small/WOFF2/SuisseEDUIntl-BoldItalic-WebS.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "SuisseEDUIntlLight";
	src: url("./lib/fonts/SuisseEDUIntl/web small/WOFF/SuisseEDUIntl-Light-WebS.woff") format("woff"),
	url("./lib/fonts/SuisseEDUIntl/web small/WOFF2/SuisseEDUIntl-Light-WebS.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SuisseEDUIntlThin";
	src: url("./lib/fonts/SuisseEDUIntl/web small/WOFF/SuisseEDUIntl-Thin-WebS.woff") format("woff"),
	url("./lib/fonts/SuisseEDUIntl/web small/WOFF2/SuisseEDUIntl-Thin-WebS.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SuisseEDUIntlMedium";
	src: url("./lib/fonts/SuisseEDUIntl/web small/WOFF/SuisseEDUIntl-Medium-WebS.woff") format("woff"),
	url("./lib/fonts/SuisseEDUIntl/web small/WOFF2/SuisseEDUIntl-Medium-WebS.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

body, #root {
	display: flex;
	flex-direction: column;
	font-family: "SuisseEDUIntl", serif;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.1em;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	width: 100vw;

}

h1, h2, h3, h4 {
	font-weight: normal;

}


h1 {
	font-size: 70px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 40px;

}

h4 {
	font-size: 30px;
}


p {
	font-family: "SuisseEDUIntlLight", serif;
	font-size: 20px;

}

.highligted {
	font-family: "SuisseEDUIntlThin", serif;
	font-size: 27px;
}

@media screen and (max-width: 1024px) {

	h1 {
		font-size: 38.5px;
	}

	h2 {
		font-size: 25.6px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 16px;
	}

	p {
		font-family: "SuisseEDUIntl", serif;
		font-size: 16px;
		letter-spacing: 0;
	}

	.highligted {
		font-family: "SuisseEDUInt", serif;
		font-size: 20px;
	}

	main, aside, #quotebox, footer {
		padding: 0 30px;

	}

	footer > p {
		color: rgb(164, 169, 173);
	}

	footer > p:last-of-type {
		margin-bottom: 0px;
	}
}


main, aside, #quotebox, footer {
	margin: 50px auto;
	max-width: 1500px;
	width: calc(100% - 60px);

}

footer {
	color: #919AA0;

}

footer > a {
	text-decoration: none;
}

footer > p:nth-child(n+2) {
	cursor: pointer;
}

footer > p:last-of-type {
	margin-bottom: 100px;
}